     <hr>
        <div class="container bg-grey">
            <div class="row">
                <div class="col-sm-2">
                 </div>
                  <div class="col-sm-6">
                    <h5>聯絡資訊</h5>
                    <p><span class="glyphicon glyphicon-map-marker"></span> 國立暨南國際大學資訊工程學系 網路協定工程及應用研究實驗室</p>
                    <!-- <p><span class="glyphicon glyphicon-phone"></span> </p> -->
                    <p><span class="glyphicon glyphicon-envelope"></span> s102321003@mail1.ncnu.edu.tw</p>
                  </div>
                  <div class="col-sm-4">
                        <h5>回饋表單</h5>
                        <p><span class="glyphicon glyphicon-pencil"></span> <a href="https://docs.google.com/forms/d/e/1FAIpQLSco1CyaIMJYr3rSJ16RdUTwH8GXSZ-ZjLRiltZ9p5wqPtbvQA/viewform" target="#">問題與建議回報</a></p>
                        <p><span class="glyphicon glyphicon-search"></span> <a href="https://docs.google.com/forms/d/17zmBSjVFRuQQT6a_46HActUEEgpLjGtbeNSNXuiB8t8/viewform" target="#">使用情況調查</a></p>
                  </div>
            </div>
            <div class="row">
                <p class="text-center">© Copyright 2017, Jiawei.</p>
            </div>
    </div> 