 <div class="footer">
 <!--Footer-->
      <footer class="page-footer font-small blue pt-4 mt-4">
      
          <!--Footer Links-->
          <div class="container-fluid text-center text-md-left">
              <div class="row">
      
                  <!--First column-->
                  <div class="col-md-6">
                      <h5 class="text-uppercase">NCNU PEARL LAB</h5>
                      <p>Here you can use rows and columns here to organize your footer content.</p>
                  </div>
                  <!--/.First column-->
      
                  <!--Second column-->
                  <div class="col-md-6">
                      <h5 class="text-uppercase">聯絡資訊</h5>
                      <ul class="list-unstyled">
                          <li><span class="glyphicon glyphicon-envelope"></span> s102321003@mail1.ncnu.edu.tw</li>
                          <li><span class="glyphicon glyphicon-map-marker"></span> 國立暨南國際大學資訊工程學系 網路協定工程及應用研究實驗室</li>
                      </ul>
                  </div>
                  <!--/.Second column-->
              </div>
          </div>
          <!--/.Footer Links-->
      
          <!--Copyright-->
          <div class="footer-copyright py-3 text-center">
              <div class="container-fluid">
                  © 2018 Copyright: Jiawei </a>
      
              </div>
          </div>
          <!--/.Copyright-->
      
      </footer>
      <!--/.Footer-->
<div>