<!DOCTYPE html>
<html>
<head>
    <title>Note-taking system</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script src="/javascripts/firebase-init.js"></script>
    <script>  
        $(function(){
            initFirebase();
            var courseRef = firebase.database().ref("courses/");
            courseRef.once('value').then(function(data){
                console.log(data.val());
                for(var courseName in data.val()){
                    var newOption = document.createElement('option');
                    newOption.innerHTML = courseName;
                    newOption.setAttribute('value',courseName);
                    $('#courseSelect').append( newOption );
                }
            })
        });
        function validate(form) {
            if ( confirm('確定要新增此課程的投影片嗎?') ){
                return true;
            }else{
                return false;
            }
        }
    </script>
</head>
<body>
</body>
    <% include layouts/header %>
    
    <div class="container">
        <div class="row">
            <h1 align="center">新增課程投影片</h1>
            <hr>
            <div class="form-group">
                <label>1. 選擇課程</label>
                <form id="infoForm" method="POST" action="/addSlide" onsubmit="return validate(this);">
                    <div class="col-sm-6 col-md-6">
                        <select class="form-control" id="courseSelect" name="courseName" size="10" height="50%" required>
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="input-group">
                            <label>2. 輸入投影片標題</label>
                            <input class="form-control" type="text" name="pptTitle" required/>
                        </div>
                        <br>
                        <div class="input-group">
                            <label>3. 貼上投影片內嵌碼 (Slide Embedded code)</label>
                            <textarea class="form-control" name="pptUrl" rows="5" required></textarea>
                        </div>
                        <br>
                        <input class="btn btn-primary" type="submit" value="送出" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
            <% include layouts/footer %>
    </div>
          

</html>
