<!DOCTYPE html>
<html>
<head>
    <title>教學筆記系統</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script src="/javascripts/firebase-init.js"></script>

    <style>
        input { width:100%; }
        h3 {text-align : center;}
        .btn:focus {
            background-color: #FFCC22;
        }
        .btn:hover {
            background-color: #F0FFFF;
        }
    </style>

    <script>
        initFirebase();    
        var userRef = firebase.database().ref("users/");
        userRef.orderByChild('email').equalTo("<%= user.emails[0].value %>").once('child_added',function(data){
            var character = data.val().character;
            if( character == 'teacher'){
                $('#character').text('老師');
                var liElement = $('<li></li>').html('<a href="addSlide" target="#">新增課程投影片</a>');
                $('#navList').append(liElement);
            }else if(character == 'student'){
                $('#character').text('學生');
            }
        });
        // old version : Students have to join the course
        // demo version : Studnets can look all course in system
        var courseRef = firebase.database().ref("courses/");
        courseRef.once('value').then(function(data){
            for(var courseName in data.val()){
                var courseBlock = document.getElementById('course');
                var btn = document.createElement('input');
                btn.setAttribute('type','button');
                btn.setAttribute('onclick',"courseInfo(this.textContent);");
                btn.setAttribute('class',"list-group-item btn btn-default");
                btn.value = courseName;
                btn.innerHTML = courseName;
                courseBlock.appendChild(btn);
            }
        });

        function courseInfo(courseName){
            var courseRef = firebase.database().ref("courses/" + courseName + '/');
            var showList = document.getElementById('details');
            showList.innerHTML = "";
            var courseTitle = document.getElementById('courseTitle');
            courseTitle.innerHTML = '<b><font color="#FFAA33">'+ courseName + '</font></b> 課程投影片';
            courseRef.once('value').then(function(data){
                var slidesObject = Object.values(data.val())[1];
                slideArray = Object.values(slidesObject);
                for(var i = 0; i < slideArray.length; i++ ){
                    var pptTitle = slideArray[i].title;
                    var pptUrl = slideArray[i].url;
                    
                    var form = document.createElement('form');
                    form.setAttribute('method','POST');
                    form.setAttribute('action','/note');
                    var hiddenInputTitle = document.createElement('input');
                    hiddenInputTitle.setAttribute('type','hidden');
                    hiddenInputTitle.setAttribute('name','title');
                    hiddenInputTitle.setAttribute('value',pptTitle);
                    form.appendChild(hiddenInputTitle);
                    
                    var hiddenInputUrl = document.createElement('input');
                    hiddenInputUrl.setAttribute('type','hidden');
                    hiddenInputUrl.setAttribute('name','pptUrl');
                    hiddenInputUrl.setAttribute('value',pptUrl);
                    form.appendChild(hiddenInputUrl);

                    var hiddenCourseName = document.createElement('input');
                    hiddenCourseName.setAttribute('type','hidden');
                    hiddenCourseName.setAttribute('name','courseName');
                    hiddenCourseName.setAttribute('value',courseName);
                    form.appendChild(hiddenCourseName);

                    var btn = document.createElement('input');
                    btn.setAttribute('type','submit');
                    btn.setAttribute('class',"list-group-item btn btn-default ");
                    btn.setAttribute('value',pptTitle);
                    form.appendChild(btn);

                    showList.appendChild(form);
                }
            });
        }
    </script>

</head>
<body>
    <% include layouts/header %>
    <div class="container">
       <div class="row">
           <div class="col-lg-6 col-md-6 col-sm-6">
                <h3>課程列表</h3>
                    <div id="course" class="list-group">
                    </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-6">
                <h3 id="courseTitle"></h3>
                <div id="details" class="list-group">
                </div>
           </div>     
           
               
        </div>
    </div>
    <div class="footer">
            <% include layouts/footer %>
    </div>
          
</body>
</html>
