<!DOCTYPE html>
<html>
<head>
  <title>教學筆記系統</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
      
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col">
    </div> 
    <div class="col">
      <h1 class="text-center login-title">教學筆記系統</h1>
      <br>
      <img class="img-rounded center-block" alt="NCNU CSIE PEARL" width="350" src='/images/ncnu-logo.jpg' />
      <br>
      <div align="center">
        <a href="/auth/google" class="btn btn-block btn-social btn-google"><button type="button" class="btn btn-light">
          <img src="/images/google_icon.png" width="50"> 使用 <img src="/images/google_text.png" width="60"> 登入</button>
        </a>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
<% include layouts/footer %>

</body>
</html>
