<!DOCTYPE html>
<html>
<head>
    <title>互動式共享筆記系統</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script src="/javascripts/firebase-init.js"></script>

    <script src="/javascripts/bootbox.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/RTCMultiConnection.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        #createQ {
            background-color: #66DD00;
            color : white;
            font-weight: 400;
            font-size: 20px;
        }
        a.hover {
            background-color : pink;
        }
    
    </style>

    <script>

        // init socket.io
        var connection = new RTCMultiConnection(null, {
            useDefaultDevices: true // if we don't need to force selection of specific devices
        });
        connection.socketURL = '/';
        connection.socketMessageEvent = 'note-taking-system';

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});
    
        function init(){
            initFirebase();
        };
        function drawChart(qid) {
            // Create the data table.
            var title = document.getElementById(qid + "-Q").innerHTML;
            var countA = document.getElementById(qid + "-A").innerHTML;
            var countB = document.getElementById(qid + "-B").innerHTML;
            var countC = 0
            if ( document.getElementById(qid + "-C") )
                countC = document.getElementById(qid + "-C").innerHTML;
            var countD = 0;
            if ( document.getElementById(qid + "-D") )
                countD = document.getElementById(qid + "-D").innerHTML;

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['A', Number(countA)],
                ['B', Number(countB)],
                ['C', Number(countC)],
                ['D', Number(countD)]
            ]);

            // Set chart options
            var options = {'title': title,
                            'titleTextStyle' : {
                                fontSize : 16, fontName : 'Noto Sans TC', bold : false
                        },
                        'legend' : { textStyle: { fontSize: 14} },
                        'pieSliceTextStyle' : {
                            fontName : 'Noto Sans TC',
                            fontSize : 16,
                        },
                        'width':500,
                        'height':200};

            // Instantiate and draw our chart, passing in some options.
            var newDiv = document.createElement('div');
            newDiv.setAttribute('id' , qid);
            chartDiv.append(newDiv);
            var chart = new google.visualization.PieChart(document.getElementById(qid));

            chart.draw(data, options);

            var socket = connection.getSocket();
            socket.emit('sendStatistics' , {
                qid : qid,
                countA : countA,
                countB : countB,
                countC : countC,
                countD : countD
            });
      
        }
        function makeid() {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for (var i = 0; i < 10; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }

        function createQuestionLiElement(qid, option, content){
            var liElement = document.createElement("li");
            liElement.setAttribute("class" , "list-group-item");
            liElement.innerHTML = option + ". " + content;

            var span = document.createElement("span");
            span.setAttribute("class", "badge");
            span.setAttribute("id", qid + "-" + option );
            span.innerHTML = 0;
            liElement.append(span);

            return liElement;
        }

        function validInput(q , a, b, c, d){
            if(q == ''){
                bootbox.alert("<h2>請填寫問題描述 !</h2>");
                return false;
            }
            else if(a == ''){
                bootbox.alert("<h2>請至少填寫兩個選項 - A 和 B</h2>");
                return false;
            }
            else if(b == ''){
                bootbox.alert("<h2>請至少填寫兩個選項 - A 和 B</h2>");
                return false;
            }
            else if(c == '' && d != ''){
                bootbox.alert("<h2>若要新增 D 選項，請先填寫 C 選項的內容 !</h2>");
                return false;
            }else{
                return true;
            }
                
        }
        function createQuestion(){
            var dialog = bootbox.dialog({
                title: '<h1 align="center">即時互動問答 - 新增問題</h1>',
                message: `
                    <div class="input-group">
                        <div class="col-sm-12">
                            <label>問題描述 (必填) : </label>
                            <input class="form-control " type="text" id="question"/>
                        </div>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="col-sm-12">
                            <label>選項 A (必填):</label>
                            <input class="form-control" type="text" id="optionA"/>
                        </div>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="col-sm-12">
                            <label>選項 B (必填):</label>
                            <input class="form-control" type="text" id="optionB"/>
                        </div>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="col-sm-12">
                            <label>選項 C :</label>
                            <input class="form-control" type="text" id="optionC"/>
                        </div>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="col-sm-12">
                            <label>選項 D :</label>
                            <input class="form-control" type="text" id="optionD"/>
                        </div>
                    </div>
                `,
                buttons: {
                    cancel: {
                        label: "取消",
                        className: 'btn-danger'
                    },
                    ok: {
                        label: "新增",
                        className: 'btn-info',
                        callback: function(){
                            var question = document.getElementById("question").value;
                            var optionA = document.getElementById("optionA").value;
                            var optionB = document.getElementById("optionB").value;
                            var optionC = document.getElementById("optionC").value;
                            var optionD = document.getElementById("optionD").value;
                            if ( !validInput(question , optionA, optionB, optionC, optionD) )
                                return;
                            var qid = makeid();
                            var opAElement = createQuestionLiElement(qid , 'A' , optionA);
                            var opBElement = createQuestionLiElement(qid , 'B' , optionB);
                            
                            var questionTitle = document.createElement("li");
                            questionTitle.setAttribute('id' , qid + "-Q");
                            questionTitle.innerHTML = question;
                            questionBlock.append(questionTitle);

                            var ulElement = document.createElement("ul");
                            ulElement.setAttribute("class" , "list-group");            

                            ulElement.append(opAElement);
                            ulElement.append(opBElement);

                            if(optionC){
                                var opCElement = createQuestionLiElement(qid , 'C' , optionC);
                                ulElement.append(opCElement);
                                if(optionD){  // 有 C 選項，才會有 D 選項，不給跳號啦
                                    var opDElement =createQuestionLiElement(qid , 'D' , optionD);
                                    ulElement.append(opDElement);
                                }
                            }
                            var socket = connection.getSocket();
                            socket.emit('newQuestion',{
                                'qid' : qid,
                                'title' : question,
                                'optionA' : optionA,
                                'optionB' : optionB,
                                'optionC' : optionC,
                                'optionD' : optionD
                            });
                            questionBlock.append(ulElement);
                            drawChart(qid);
                        }
                    }
                }
            });
        }

        // Listen to students' answers
        var socket = connection.getSocket();
        socket.on('studentAnswerToTeacher',function(res){
            var qid = res.qid;
            var answer = res.answer;
            var optionId = qid + "-" + answer;
            console.log(optionId);
            var count = Number(document.getElementById(optionId).innerHTML);
            document.getElementById(optionId).innerHTML = ++count;
            drawChart(qid);
            
        });
    </script>
</head>
<body>
</body onload="init()">
    <% include layouts/header %>
    <br><br><br>
    <div class="container">
        <div class="row">
                <h1 align="center">即時互動問答系統</h1>    
        </div>
        <div class="row">
            <a id="createQ" class="btn btn-success list-group-item" onclick="createQuestion()"><span class="glyphicon glyphicon-plus"></span>  新增一個互動問題</a>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h2 align="center">問題列表</h2>
                <ul class="list-group" id="questionBlock"></ul>
            </div>
            <div class="col-sm-6 col-md-6">
                <h2 align="center">統計圖表</h2>
                <div id="chartDiv" align="center"></div>
            </div>
        </div>
    </div>
    <div class="footer">
            <% include layouts/footer %>
    </div>
          

</html>
