<!DOCTYPE HTML>
<html>
<head>
        <title>Note-taking system</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
        <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
        <!-- Firebase js -->
        <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>    
        <!-- Firepad related js -->  
        <script src="/javascripts/codemirror.js"></script>     
        <script src="/javascripts/firepad.js"></script> 
        <script src="/javascripts/firebase-init.js"></script>
        <!-- Firepad css -->
        <link rel="stylesheet" href="/stylesheets/codemirror.css" />
        <link rel="stylesheet" href="/stylesheets/firepad.css" />
        
        
        <!-- This page css -->
        <link rel="stylesheet" href="/stylesheets/noteWatchPage.css" />
        <link rel="stylesheet" href="/stylesheets/style.css">

        <script src="/javascripts/keywordOverlay.js"></script>
        

        <script>
            $(document).ready(function(){  
                initFirebase();
                // Add student from data into select list
                var userRef = firebase.database().ref("users/");
                userRef.once('value').then(function(data){
                    for(var i in data.val()){
                        if(data.val()[i].character == "student"){
                            var name = data.val()[i].name;
                            var email = data.val()[i].email;
                            var newOption = document.createElement('option');
                            newOption.innerHTML = name + ' < ' + email + ' > ' ;
                            newOption.setAttribute('value',email);
                            $('#studentSelect').append( newOption );
                        }
                    }
                });
                // Select list click
                $('#studentSelect').change(function(){
                    console.log("Select : ",$('#studentSelect').find(':selected').val());
                    var name = $('#studentSelect').find(':selected').text();
                    var email = $('#studentSelect').find(':selected').val();
                    $('#studentName').text(name);
                    var userEID = email.split('@')[0];
                    var firepadRef = firebase.database().ref('/'+'note-'+userEID).child('<%= title %>');
                    var firepadContainer = document.getElementById('firepad-container');
                    firepadContainer.innerHTML = "";
                    var codeMirror = CodeMirror(document.getElementById('firepad-container'), { lineWrapping: true });
                    hyperlinkOverlay(codeMirror);
                    qaOverlay(codeMirror);
                    var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
                        { richTextToolbar: false, richTextShortcuts: true , userId:"<%= user.displayName %>" }
                    );
                    firepad.on('ready', function() {
                        //console.log(firepad.getHtml());
                    });
                });

                // Random choose button
                $('#randomStudent').click(function(){
                    var options = $('#studentSelect').find('option');
                    var randomIndex = Math.floor((Math.random() * options.length));
                    var name = options.eq(randomIndex).text();
                    var email = options.eq(randomIndex).val();
                    $('#studentName').text(name);
                    var userEID = email.split('@')[0];
                    var firepadRef = firebase.database().ref('/'+'note-'+userEID).child('<%= title %>');
                    var firepadContainer = document.getElementById('firepad-container');
                    firepadContainer.innerHTML = "";
                    var codeMirror = CodeMirror(document.getElementById('firepad-container'), { lineWrapping: true });
                    hyperlinkOverlay(codeMirror);
                    qaOverlay(codeMirror);
                    var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
                        { richTextToolbar: false, richTextShortcuts: true , userId:"<%= user.displayName %>" }
                    );
                    firepad.on('ready', function() {
                        //console.log(firepad.getHtml());
                    });
                });
                
            }); 
        </script>
</head>
<body>
    <% include layouts/header %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div id="firepad-container">
                </div>        
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="form-group" id="studentBlock">
                    <button id = "randomStudent" type="button" class="btn btn-success">隨機挑選學生</button>
                    <h3>你選擇的是 : <b><div id="studentName">尚未選擇</div> </b></h3>
                    <select class="form-control" id="studentSelect" size="40" height="100%">
                    </select>
                </div> 
            </div>
    </div>
    
</body>
</html>