<!DOCTYPE html>
<html>
<head>
    <title>教學筆記系統 - 使用教學</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>   
@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');

body{
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1;
    font-size: 16px;
    font-weight: 200;
    background-color: #2e2f30;
    color : #f5f5f5da;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

.navbar {
    background-color: #263238;
}


.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
    
    </style>
</head>
<body>
        <div class="container main">
                <div class="sidenav">
                        <a href="#login">登入</a>
                        <a href="#student">學生 - 存取筆記</a>
                        <a href="#student-live">學生 - 跟隨廣播投影片</a>
                        <a href="#student-share">學生 - 觀看同學筆記</a>
                        <a href="#teacher-addSlide">老師 - 新增課程投影片</a>
                        <a href="#teacher-live">老師 - 投影片廣播</a>
                </div>
                <h1 id="login" class="text-center">登入教學</h1>
                <h3>1. 一開始會看到系統的登入畫面，如下圖，點選最左邊的G+按鈕(使用Google登入)</h3>
                <img src="/images/login-1.PNG" width="30%">
                <h3>2. Google 認證的頁面，請輸入<font color="#FF44AA">學校信箱(s106321XXX@mail1.ncnu.edu.tw)</font></h3>
                <img src="/images/login-2.PNG" width="30%">
                <h3>3. 接下來會被重導至學校信箱登入畫面，請使用學校信箱帳號密碼做登入</h3>
                <img src="/images/login-3.PNG">
                <h3>4. 畫面會被導到主畫面，就成功登入囉!</h3>
                <img src="/images/login-4.PNG" width="50%">
                <br>
                <br>
                <hr>
                <br>
                <br>


                <h1 id="student" class="text-center">學生 - 存取筆記</h1>
                <h3>1. 登入系統之後，會看到如下圖般的主畫面，畫面左邊會列出使用者參與的課程列表，如下圖所示</h3>
                <img src="/images/tutorial-1.PNG">
                <br><br>
                <h3>2. 點選其中一個課程後，會列出該課程底下所有的課程投影片筆記，如下圖所示</h3>
                <img src="/images/tutorial-2.PNG">
                <br>
                <br>
                <p>上圖中，使用選擇了「計算機概論」這堂課之後，右邊列出了這堂課目前有的兩份投影片筆記</p>
                <br><br>
                <h3>3. 從畫面右邊選擇投影片筆記，便會進入到投影片筆記的部分，如下圖所示。要注意的是，上方工具列中有兩個按鈕 : <font color="#FF44AA">隱藏投影片</font> 以及<font color="#FF44AA">跟隨線上展示</font>按鈕。而<font color="#FF44AA">跟隨線上展示</font>按鈕只有在老師使用線上展示功能時會出現!</h3>
                <img src="/images/tutorial-3.PNG" width="60%">
                <br><br>
                <p>上圖中，畫面左半邊是投影片的內容，而右半邊是紀錄筆記的輸入視窗，就可以開始搭配投影片紀錄筆記囉!</p>
                <h3>4. 畫面右上方的部分(如下圖)，能夠讓筆記的內容根據使用者喜好做修改，例如文字的大小、字型、排列、置中置左、插入圖片等等</h3>
                <br><br>
                <img src="/images/tutorial-4.PNG">
                <h3>5.<font color="red">!!重要!!</font> 透過命列關鍵字與老師互動，命令關鍵字如下 : <br>
                    (1). <font color="#FF44AA">/Q[空格]問題</font> : 記錄老師所問的問題<br>
                    (2). <font color="#FF44AA">/A[空格]答案</font> : 記錄上述問題的答案<br>
                    (3). <font color="#FF44AA">/?[空格]想問的問題</font> : 向老師詢問問題<br>
                </h3>
                <br>
                <img src="/images/tutorial-5-QA.PNG">
                <h3>6. 記錄完筆記之後，只要離開網站就可以了，系統便會自動記錄使用者的筆記內容，下次登入時即可繼續操作與複習</h3>
                <br>
                <br>
                <hr>
                <br>
                <br>
                <h1 id="student-live">學生 - 廣播投影片</h1>
                <h3>1. 在筆記頁面的上方工具列，選擇<font color="#FF44AA">查看投影片廣播</font>，如下圖</h3>
                <br>
                <img src="/images/student-live-1.PNG">
                <h3>2. 此時，系統會告訴你目前老師是否有用廣播投影片在上課。若有，則會出現是否要觀看的視窗，如下圖。</h3>
                <br>
                <img src="/images/student-live-2.PNG">
                <h3>3. 按下觀看，就可以看到老師的廣播投影片! </h3>
                <h3>4. 上方會多出一個<font color="#FF44AA">切回離線投影片</font>的按鈕，如下圖，按下按鈕之後就可以回到離線版的投影片</h3>
                <br>
                <img src="/images/student-live-3.PNG">
                <br>
                <br>
                <hr>
                <br>
                <br>
                <h1 id="student-share">學生 - 觀看同學筆記</h1>
                <h3>1. 在筆記頁面的上風工具列，選擇<font color="#FF44AA">觀看同學筆記</font>，如下圖
                <br>
                <br>
                <img src="/images/student-share-1.PNG">
                <h3>2. 在視窗中輸入同學的Email帳號，如下圖，就可以看到同學的筆記了!
                <br>
                <br>
                <img src="/images/student-share-2.PNG">
                <br>
                <br>
                <hr>
                <br>
                <br>
                <h1 id="teacher-addSlide">老師 - 新增課程投影片</h1>
                <h3>1. 在主頁面的工具列上方，選擇<font color="#FF44AA">新增課程投影片</font>按鈕</h3>
                <img src="/images/addSlide-1.PNG">
                <h3>2. 於畫面的左邊，選擇一門課程，並在右邊的欄位輸入課程投影片標題以及<font color="#FF7744 ">PowerPoint 內嵌程式碼</font><a href="https://support.office.com/zh-tw/article/%E5%B0%87%E7%B0%A1%E5%A0%B1%E5%85%A7%E5%B5%8C%E5%9C%A8%E7%B6%B2%E9%A0%81%E6%88%96%E9%83%A8%E8%90%BD%E6%A0%BC%E4%B8%AD-19668a1d-2299-4af3-91e1-ae57af723a60" target="slideEmbedded"><span class="glyphicon glyphicon-question-sign"></span></a></h3>
                <img src="/images/addSlide-2.PNG" width="50%">
                <h3>3. 新增成功! 畫面會跳轉回來此頁面</h3>         
                <br>
                <br>
                <hr>
                <br>
                <br>
                <h1 id="teacher-live">老師 - 投影片廣播功能</h1>
                <h3>1. 使用Microsoft PowerPoint打開投影片檔，按下<b>[投影片放映]->[線上展示]->[Office Presentation Service]</b>，如下圖。</h3>
                <img src="/images/teacher-live-1.PNG" width="30%">
                <br>
                <h3>2. 按下連線按鈕，如下圖。(中間有個讓遠端使用者下載簡報的勾選處，可自行斟酌使用)</h3>
                <img src="/images/teacher-live-2.PNG" width="30%">
                <br>
                <h3>3. 接下來PowerPoint會問你Microsoft的帳號密碼，請自行輸入。輸入完後即會拿到線上展示連結，如下圖。</h3>
                <img src="/images/teacher-live-3.PNG" width="30%">
                <br>
                <h3>4. 請將線上展示連結複製，並貼在觀看學生筆記頁面上方的<font color="#FF44AA">投影片廣播</font>按鈕中，並按下儲存按鈕，如下兩圖所示。</h3>
                <img src="/images/teacher-live-4.PNG" width="40%"> => <img src="/images/teacher-live-5.PNG" width="50%">
                <br>
                <h3>5. 接著按下步驟 3. 圖中的<font color="#FF44AA ">啟動簡報</font>按鈕，就可以開始放送簡報給所有學生囉!</h3>
                <img src="/images/teacher-live-6.PNG" width="30%">
            </div>
            <hr>
            <div class="container bg-grey main">
                <div class="row">
                    <div class="col-sm-2">
                     </div>
                      <div class="col-sm-6">
                        <h5>聯絡資訊</h5>
                        <p><span class="glyphicon glyphicon-map-marker"></span> 國立暨南國際大學資訊工程學系 網路協定工程及應用研究實驗室</p>
                        <!-- <p><span class="glyphicon glyphicon-phone"></span> </p> -->
                        <p><span class="glyphicon glyphicon-envelope"></span> s102321003@mail1.ncnu.edu.tw</p>
                      </div>
                      <div class="col-sm-4">
                            <h5>回饋表單</h5>
                            <p><span class="glyphicon glyphicon-pencil"></span> <a href="https://docs.google.com/forms/d/e/1FAIpQLSco1CyaIMJYr3rSJ16RdUTwH8GXSZ-ZjLRiltZ9p5wqPtbvQA/viewform" target="#report">問題與建議回報</a></p>
                            <p><span class="glyphicon glyphicon-search"></span> <a href="https://docs.google.com/forms/d/17zmBSjVFRuQQT6a_46HActUEEgpLjGtbeNSNXuiB8t8/viewform" target="#inquire">使用情況調查</a></p>
                      </div>
                </div>
                <div class="row">
                    <p class="text-center">© Copyright 2017, Jiawei.</p>
                </div>
        </div> 
        
</body>
</html>