<!DOCTYPE html>
<html>
<head>
    <title>教學筆記系統 - 使用教學</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
        <div class="container">
                <h1 class="text-center">使用教學</h1>
                <h3>1. 登入系統之後，會看到如下圖般的主畫面，畫面左邊會列出使用者參與的課程列表，如下圖所示</h3>
                <img src="/images/tutorial-1.PNG">
                <br><br>
                <h3>2. 點選其中一個課程後，會列出該課程底下所有的課程投影片筆記，如下圖所示</h3>
                <img src="/images/tutorial-2.PNG">
                <p>上圖中，使用選擇了「計算機概論」這堂課之後，右邊列出了這堂課目前有的兩份投影片筆記</p>
                <br><br>
                <h3>3. 從畫面右邊選擇投影片筆記，便會進入到投影片筆記的部分，如下圖所示</h3>
                <img src="/images/tutorial-3.PNG" width="50%">
                <br><br>
                <p>上圖中，畫面左半邊是投影片的內容，而右半邊是紀錄筆記的輸入視窗，就可以開始搭配投影片紀錄筆記囉!</p>
                <h3>4. 畫面右上方的部分(如下圖)，能夠讓筆記的內容根據使用者喜好做修改，例如文字的大小、字型、排列、置中置左、插入圖片等等</h3>
                <br><br>
                <img src="/images/tutorial-4.PNG">
                <h3>5.<font color="red">!!重要!!</font> 上課時，老師會詢問學生問題，同時要求同學把問題記下來並回答。此時，你可以在筆記中使用 <kbd>/Q[space]問題</kbd> 來記錄問題，或是使用<kbd>/A[space]答案</kbd>來紀錄答案(如下圖)，系統會以此分辨輸入的內容是問題、答案還是筆記</h3>
                <img src="/images/tutorial-5-QA.PNG">
                <h3>6. 記錄完筆記之後，只要離開網站就可以了，系統便會自動記錄使用者的筆記內容，下次登入時即可繼續操作與複習</h3>
            </div>
            <hr>
            <div class="container bg-grey">
                <div class="row">
                    <div class="col-sm-2">
                     </div>
                      <div class="col-sm-6">
                        <h5>聯絡資訊</h5>
                        <p><span class="glyphicon glyphicon-map-marker"></span> 國立暨南國際大學資訊工程學系 網路協定工程及應用研究實驗室</p>
                        <!-- <p><span class="glyphicon glyphicon-phone"></span> </p> -->
                        <p><span class="glyphicon glyphicon-envelope"></span> s102321003@mail1.ncnu.edu.tw</p>
                      </div>
                      <div class="col-sm-4">
                            <h5>回饋表單</h5>
                            <p><span class="glyphicon glyphicon-pencil"></span> <a href="https://docs.google.com/forms/d/e/1FAIpQLSco1CyaIMJYr3rSJ16RdUTwH8GXSZ-ZjLRiltZ9p5wqPtbvQA/viewform" target="#">問題與建議回報</a></p>
                            <p><span class="glyphicon glyphicon-search"></span> <a href="https://docs.google.com/forms/d/17zmBSjVFRuQQT6a_46HActUEEgpLjGtbeNSNXuiB8t8/viewform" target="#">使用情況調查</a></p>
                      </div>
                </div>
                <div class="row">
                    <p class="text-center">© Copyright 2017, Jiawei.</p>
                </div>
        </div> 
        
</body>
</html>