#createQ {
    background-color: #66DD00;
    color : white;
    font-weight: 400;
    font-size: 20px;
}
a.hover {
    background-color : pink;
}

.messageBlock {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    width: 100%;
    height: 300px;
    background-color : white;
    border-style: solid;    
    padding : 10px;
    overflow: scroll;
    text-align : left
}
.msgInput {
     width: 100%; 
}
.slashQuestionBlock{
    list-style-type:decimal;
    margin: 0; 
    padding: 0; 
    width: 100%;
    height: 300px;
    background-color :  rgb(235, 235, 235);
    border-style: solid;    
    padding : 10px;
    overflow: scroll;
}
.slashQuestion{
    padding : 2px;
    margin-left : 15px;
}
.msg{
    padding : 2px;
    margin-left : 0px;
}
.systemMsg-q{
    padding : 2px;
    margin-left : 0px;
    color: blue ;
}
.systemMsg-ans{
    padding : 2px;
    margin-left : 0px;
    color: green;
}
.systemMsg-alert{
    padding : 2px;
    margin-left : 0px;
    color: red;
}