html { height: 100%; }
body { margin: 0; height: 100%; }

/* firepad style */

#firepad-container {
  position: fixed;
  width: auto;
  height: auto;
  right: 33%;
  left : 0%;
  bottom: 30%;
  top : 50px;
  background-color: rgba(0, 0, 0, 0.788);
}

#showQA {
  position: fixed;
  width: 40%;
  height: 30%;
  left : 0%;
  bottom: 10%;
  top : 70%;
  color : #00FF00;
  background-color: #4e4e4e;
  font-size : 20px;
  font-weight: 400;
  resize: none;
}

#showAsk {
  position: fixed;
  width: 27%;
  height: 30%;
  right: 33%;
  left : 40%;
  bottom: 10%;
  top : 70%;
  color : #00FF00;
  background-color: #4e4e4e;
  font-size : 20px;
  font-weight: 400;
  resize: none;
}

#studentBlock {
  width: auto;
  left : 67%;
  right: 0%;
}


.CodeMirror {
  background-color: white;
  border-style: outset;
}


.CodeMirror .cm-url { color: blue; }    
.CodeMirror .cm-qa { color: orange; font-weight: bold; font-size: 18px; font-family:"Comic Sans MS", cursive, sans-serif;}    