html { height: 100%; }
body { margin: 0; height: 100%; }

/* firepad style */

#firepad-container {
  position: fixed;
  width: auto;
  height: auto;
  right: 33%;
  left : 0%;
  bottom: 0%;
  top : 50px;
  background-color: rgba(0, 0, 0, 0.788);
}

#studentBlock {
  width: auto;
  left : 67%;
  right: 0%;
}


.CodeMirror {
  background-color: white;
  border-style: outset;
}


.CodeMirror .cm-url { color: blue; }    

input { width:100%; }
.btn:focus {
    background-color: #428bca;
    color:white;
}


table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
  font-weight: 500;
}

th {
  background-color: #5bc0de;
  height: 40px;
  
}